body {
    font-family: 'Roboto';
    color: white;
    margin: 0;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
    background-color: white;
    color: black;
}

nav ul {
    width: 15%;
    margin: 0 auto;
    padding: 16px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li:hover {
    color: blue;
    cursor: pointer;
}